*{
    padding:0px;margin:0px;
}
html{
    font-size: 75%
}

body{
    text-align: center;vertical-align: top;
    margin: 0px; padding: 0px;
    font: normal 1em/1.3 Arial, sans-serif
}
a{
    font:normal 13px Arial, Tahoma, Verdana ;color:#7b7b7b;text-decoration:none;outline: none;
}
    a:visited{
        font:normal 13px Arial, Tahoma, Verdana;color:#7b7b7b;text-decoration:none;
    }
    a:hover{
        text-decoration: underline;color:#d91219;
    }
    a img{
	    border: none;
    }
    
img {
    border:    0px;
}
div{
    border: 0px;
}
p{
    text-align: justify; text-indent:10px;
    padding-bottom: 10px;
}
h1{
    font-family: My_font, Tahoma, Verdana, Arial;
    font-size: 20px;
    margin:5px 0px;
    padding:0px;
    color:#000;
    /*color:#000;*/
}
h2{
    font-family: My_font, Tahoma, Verdana, Arial;
    font-size: 18px;
    margin:5px 0px;  padding:0px;
    color:#000;
    text-decoration: none;
}
h3{
    font-family: My_font, Tahoma, Verdana, Arial;
    font-size: 16px;
    margin:0px;  padding:0px;
    color:#000;
    text-decoration: none;
}
h4{
    font-family: My_font, Tahoma, Verdana, Arial;
    font-size: 14px;
    margin:0px;  padding:0px;
    color:#000;
    text-decoration: none;
}
table.grey-right-border td{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #D9D9D9;
}
table.main-menu td{
	border-right-style: solid;
	border-left-style: solid;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-color: #E8EAFF;
	border-left-color: #E8EAFF;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	font-family: Verdana;
	text-transform: lowercase;
	color: #FFFFFF;
	width: 14%;
	vertical-align: middle;
}

td{
	vertical-align: top;
}
form{
    padding: 0px; margin: 0px;
}
    form button{ 
        padding:0;
        border:none;
        background:transparent; 
    }
    form button img{ 
        display:block;
    }
    input, select, textarea{
	    font-size: 11px;
	    margin: 0px 4px 0px 0px;
	    padding: 0px;
    }
ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	list-style-type: disc; 
	list-style-position: inside
}
    li{
        margin:3px 0px 3px 0px;
    }
    a:li{
        background-color: #d91219;
    }
.br_1{
    height: 1px;
}
.br_2{
    height: 2px;
}
.br_5{
    height: 5px;
}
.br_10{
    height: 10px;
}
.br_15{
    height: 15px;
}
.br_20{
    height: 20px;
}
.br_50{
    height: 50px;
}
.hr{
 	border-width: 0px;
	border-top: 1px solid #E2E2E2;
	height:1px;
	margin:0px;
	padding:0px 0px 4px;
}
.both{
    clear: both;
}
.left{
    float:left;
}
.right{
    float: right;
}
.error{
    color:#d91219;
    font-size:14px;font-weight: 900;
}
.next a{
    color:#d91219;
    font-size:14px;font-weight:900;
}
.date{
    font-size: 18px; color:#797979;
}
.links{
    color:blue;font-weight:normal;font-size:14px;text-decoration:underline;
}
#wrap{
    margin: 0 auto;
}
.wrap{
    width: 977px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.wrap > *{
    display: block;
    position: absolute;
    top: 19px;
}
.all .wrap{
    margin-top: 22px;
}
.all .wrap > *{
    position: static;
}



.header{
    background: url("/index_files/img/title-bg.png") repeat-x 0 0 transparent;
    width: 100%;
    height: 99px;
    margin-top: 27px;
}

.header .logo{
    background: url("/index_files/img/logo.png") no-repeat 0 0 transparent;
    width: 213px;
    height: 62px;
    left:0;
}
.header .search{
    left:249px;
    margin: 16px 0 0 18px;
}
    .search input[type="text"]{
       	color: #7B7B7B;
	    font: 15px Arial;
	    height: 35px;
	    padding-left: 10px;
	    width: 211px;
    }
    .search input[type="submit"]{
    	background: url("/index_files/img/search-button.png") no-repeat 0 0 transparent;
    	width:25px;
    	height:23px;
    	cursor:pointer
    }
    
.header .on-line{
    left:496px;
    margin: 0 0 0 29px;
}
    .on-line span{
        font: 11px Arial;
    }
    .on-line span.phone{
        font: 18px Arial;
        color: #c21f26;
        font-style:italic;
    }
    .on-line a.form{
        font: bold 14px Arial;
        font-style:italic;
    }

.header .user-menu{
    background-color: #ffffff;
    width: 238px;
    height: 100%;
    top:0;
    left:732px;
}
    .user-menu li{
        margin:10px 0 0 35px; 
    }
    .user-menu a{
        display: block;
        padding-left: 38px;
        height:19px;
    }
    .user-menu a.cart{
        background: url("/index_files/img/user-menu-cart.png") no-repeat 0 -4px transparent;
    }.user-menu a.cart:hover,.user-menu a.cart:active{
        background: url("/index_files/img/user-menu-cart-active.png") no-repeat 0 -4px transparent;
    }
    .user-menu a.pay{
        background: url("/index_files/img/user-menu-pay.png") no-repeat -5px -4px transparent;
    }.user-menu a.pay:hover,.user-menu a.pay:active{
        background: url("/index_files/img/user-menu-pay-active.png") no-repeat -5px -4px transparent;
    }
    .user-menu a.delivery{
        background: url("/index_files/img/user-menu-delivery.png") no-repeat -1px -4px transparent;
    }.user-menu a.delivery:hover, .user-menu a.delivery:active{
        background: url("/index_files/img/user-menu-delivery-active.png") no-repeat -1px -4px transparent;
    }

.menu, .menu ul{
    width: 236px;
}
    .menu a{
        display: block;
    }
    .menu ul{
        display: none;
        position: absolute;
        z-index: 1000000;
        top: 0;
        left:236px;
        -webkit-box-shadow: 4px 4px 6px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    4px 4px 6px rgba(50, 50, 50, 0.75);
        box-shadow:         4px 4px 6px rgba(50, 50, 50, 0.75);
    }
    .menu > li{
	    background: url("/index_files/img/menu-bg.png") repeat-x scroll 0 0 #f1f1f2;
    }
    .menu li{
        position: relative;
        
    }
    .menu > li > a{
        background: url("/index_files/img/menu-arrow.png") no-repeat scroll 210px 13px transparent;
        height: 40px;
        border-bottom: 2px dashed #bcbbbc;
        
    }
    .menu ul > li{
    	padding: 0 0 0 42px
    }
    .menu ul > li.label{
    	padding: 23px 0 25px 42px;
    	color:#c52b32;
    	font:21px Arial
    }
    .menu ul li > a{
        /*background-color: #f7f6f6;*/
        
        height: 29px;
    }
    .menu ul li > a:hover, .menu ul li > a:hover span{
    	color:#ff0000;
    }
    .menu ul li > a, .menu ul li > a span{
    	color:#009cd8;
        text-decoration: auto;
    }
    .menu > li > a:hover, .menu > li > a.active{
        /*background-color: #f7f6f6;*/
        background-image: url("/index_files/img/menu-arrow-active.png");
        border-bottom: 2px solid #bcbbbc;
        width:249px;
    }
    .menu > li > a > *{
        padding-left: 6px;
        text-decoration: none;
        color:#7b7b7b;
    }
    
    .menu > li > a:hover > *, .menu > li > a.active > *{
        color:#ff0000;
    }

.left-bar{
    width: 249px;
    float: left;
    
}
.content{
    float: left;
    width: 726px;
}
.hidden{
    display: none;
}
.block{
    width: 104%;
    margin-bottom: 10px;
}
    .block > .title{
        background: url("/index_files/img/title-bg.png") repeat-x 0 0 transparent;
        width: 100%;
        height: 30px;
        border-left: 2px solid #7b7b7b;
        padding-left: 21px;
        display: block;
    }

.catalog{
	margin-left:13px
}

.catalog > *{
	margin-top:20px
}
.catalog a{
	padding-left:50px;
}
.catalog a span{
	color:#ca3b41
}
.catalog .view{
	display:block;
	background: url("/index_files/img/view_catalog.png") no-repeat scroll -6px -10px transparent;
	height:32px;
	
}.catalog .view:hover,.catalog .view:active{
	display:block;
	background: url("/index_files/img/view_catalog-active.png") no-repeat scroll -6px -10px transparent;
	height:32px;
	
}
.catalog .download{
	display:block;
	background: url("/index_files/img/download_catalog.png") no-repeat ;
	height:27px;
	
}
        

        
        
        

ul.block li.item{
	
    display: inline-block;
    height: 275px;
    margin: 5px;
    text-align: center;
    vertical-align: top;
    width: 205px;
    padding:10px;
    position:relative;
}
ul.block li.item .image {
	margin-top:5px;
	
	
}

.ch{
	text-align:left;
	position:absolute;
	bottom:10px;
}
.ch span{
	display:inline;
	text-align: left;
}






#paginator  {
	display: table;
	margin: 0px auto;
}
#paginator span {
	background: #C21F26;
	border-radius: 13px;
	display: inline-block;
	height: 21px;
	margin: 0px 5px;
	padding-top: 5px;
	width: 26px;
	font-weight: 700;
}

#paginator a {
	color: #575A62;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	margin: 0 14px;
	padding-top: 4px;
}

#paginator_out {
	width: 100%;
}


.description .image{
	margin: 0 15px 15px 0;
	float:left;
}

.contacts p{
	margin:10px 0;
	clear:both;
}
.contacts p img{
	height:100%;
	display:inline-block;
	vertical-align:middle;
	margin:0 15px 0 0;
}

.block.ware.page .image{
	width:315px;
	float:left;
}
.block.ware.page .descr{
	width:276px;
	float:right;
}
.block.ware.page .descr > *{
	margin-top:15px
}
.block.ware.page .descr *{
	color:#000000;
}
.block.ware.page .descr .name{
	font:18px Arial;
	color:#ff0000;
}

.block.ware.page .image li{
	/*width:100px!important;*/
}

.item.ware > *{
	
}

.query{
	font:normal 18px Arial!important;
	color:#7b7b7b!important;
}

ul.contact-page li{
    color: #7298CC;
    height: 35px;
    padding-left: 43px;
    padding-top: 9px;
}
ul.contact-page li.skype{
	background: url("/xinha/plugins/ExtendedFileManager/demo_images/content/skype.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
ul.contact-page li.email{
	background: url("/xinha/plugins/ExtendedFileManager/demo_images/content/mail.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
ul.contact-page li.phone{
	background: url("/xinha/plugins/ExtendedFileManager/demo_images/content/phone.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
ul.contact-page li.mobile{
	background: url("/xinha/plugins/ExtendedFileManager/demo_images/content/mobile.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.child-inline > *{
	display:inline-block
}

.table.cart *{
	vertical-align:middle
}

form[name="order"] label{
	font-size:10px;
	color:red;
}

.inner-inline > *{
	display:inline-block
}
