*{
    padding:0px;margin:0px ;
    text-decoration:none;
}
html {
	font: normal 14px Open sans,Verdana, Arial, sans-serif;
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body{
    text-align: center;vertical-align: top;
    margin: 0 auto;
    background: #fafaeb url(/design/img/all-bg.png); 
}
div{
    border: 0px;
}
p{
    border: 0px;
    margin:0px;
/*    font-size:10px !important;  */
}
ol, ul {
	list-style: none;
}
img {
    border: 0px;
    text-decoration:none;
}
a img{
	 border: none;
}

a{
    font-size: 110%;
	color:#684302;
	outline: none;
	text-decoration: none;
}
a:hover{
     color:#627c5f;
	 text-decoration:none;
	 cursor: pointer;
}
a:visited{
    font-size: 110%;
	color:#684302;
	text-decoration: none;
}

.both{
    clear:both;
}
.left{
    float:left;
}
.right{
    float:right;
}
.br_1{
  height:1px;
}
.br_5{
  height:5px;
}
.br_10{
  height:10px;
}
.br_20{
  height:20px;
}

h1,h2,h3,h4,h5,h6{
    color:#502d16;
	font-weight:normal;
}
h1 {
    font-size: 225%;
}
h2 {
    font-size: 175%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 125%;
}
h5 {
    font-size: 100%;
}
h6 {
    font-size: 75%;
}
.caption1, .caption2, .caption3, .caption4, .caption5, .caption6{
    color:#50552f;
    font-weight:normal;
}
.caption1{
    font-size:225%;
}
.caption2{
    font-size:200%;
}
.caption3{
    font-size:175%;
}
.caption4{
    font-size:150%;
}
.caption5{
    font-size:125%;
}
.caption6{
    font-size:100%;
}

.desc1,.desc2,.desc3,.desc4{
    color:#000;
}
.desc1{
    font-size:150%;
}
.desc2{
    font-size:125%;
}
.desc3{
    font-size:100%;
}
.desc4{
    font-size:75%;
}

.desc p{ 
    color:black;
    text-indent:0px;
  /*  text-align: justify; */
    margin-bottom: 12px;
}
.desc li{
	margin-left:20px;
	margin-bottom:7px;
}
.desc_special{
    padding:25px !important;
    font-family:Open sans,Verdana, Arial, sans-serif !important;
	text-align:justify !important;
}
.desc_special a{
    padding:25px !important;
    line-height:120% !important;
    color:#502d16;
	font-family:Open sans,Verdana, Arial, sans-serif !important;
}
.desc_special p, .desc_special span, .desc_special div, .desc_special span {
    font-size:100% !important;
    padding:5px 0px;
    line-height:150% !important;
	font-family:Open sans,Verdana, Arial, sans-serif !important;
}
.desc_special img{
    padding:25px !important;
    width:95% !important;
    height:100% !important;
} 
/* *************** COLOR ******************* */
.font_green{
    color:#50552f;
}
.font_brown{
    color:#502d16;
}
.font_white{
    color:#fff;
}
.font_light_grey{
    color:#eee;
}
.font_yellow{
    color:#e9ddaf;
}
.font_red{
    color:#d91219;
}
.bg_green{
    background-color:#50552f;
}
.bg_brown{
    background-color:#502d16;
}
.bg_white{
    background-color:#fff;
}
.bg_light_grey{
    background-color:#eee;
}
.bg_yellow{
    color:#e9ddaf;
}
/* *************** /COLOR ******************* */
/* *************** WIDTH ******************* */
.width_pct_40{
    width:40%;
}
.width_pct_60{
    width:60%;

}
.width_pct_95{
    width:95%;
}
.width_pct_100{
    width:100%;
}
.width_px_1050{
    width:1050px;	
}
.width_px_1070{
    width:1070px;	
}
.height_pct_40{
    height:40%;
}
.height_pct_60{
    height:60%;
}
.height_pct_95{
    height:95%;
}
.height_pct_100{
    height:100%;
}
/* *************** /WIDTH ******************* */
/**********************************************************************************************/
#wrap{
   margin: 0 auto;
   width:1070px; 
   border: 1px solid #ccc;
}
#wrap_all {
	width: 1070px;
	background-color:#fff;
	/*background-image:url('/design/img/fon.png');background-repeat: no-repeat;*/
	/*background-image:url('/design/img/fon_web_ps_1.jpg');background-repeat: no-repeat;background-position:fixed; */
}

#wrap_head{
    width:1070px; height:120px;
}

.logo_1{
	float:left;
	background: url("/design/img/logo_main.png") no-repeat center center transparent;
	width:350px;
	height:100px;
}


.attention{
    color:#50552f;
    font-size:1em;
    border:1px solid #d91219;
    padding:5px;
}
.polosa {
line-height: 30px;
border-bottom: 1px solid #684302;
padding:7px 7px 7px 21px;
margin-bottom:10px;
text-align:left;
font-size:180%;
}
.polosa_img{
	height:10px;
	background: url("/design/img/dot.png") repeat-x;
	opacity:0.2;
}
/********************* search ***********************/
#wrap_search{
	float:left;
	width:270px;
	vertical-align:top;
	padding-left:10px;
} 
.search input[type="text"]{
	color: #7B7B7B;
	font-size: 90%;
	height: 25px;
	padding-left: 10px;
	width: 199px;
}

/********************* /search ******************/



/***************** Menu ********************/
.wrap_menu_main{
    width:100%; 
	height:30px;
    color:#000;
    vertical-align:center;
	border-bottom:1px solid #ccc;
	background-color:#fafaeb;
}
.menu_main{
    float:left;
	padding:0px 10px 0px 10px;
	font-size:125%;
	
}
.menu_main:hover{
    background-color:#f7f7d0;
}
.menu_main:active{
    background-color:#faebfa;
}
/***************** /Menu ********************/

/******************* IMG  ********************/
.wrap_img_prew{
	float:left;
	margin:7px;
	width:245px;
	height:325px;
	background-color:#eee;
}


.img_prew{
    height:150px;
	margin-bottom:7px;
}
/******************* /IMG  ********************/

/* ---------------------- CATALOG -------------------------*/    
.wrap_catalog{
    padding:0px; margin:0 auto;
    width:1020px; min-height:100px;
    text-align:center;
}
.wrap_catalog_sell, .catalog_sell{
	height:300px;
}
.wrap_catalog_sell{
    float:left;
	width:240px;
    
    background-color:#fff;  
    margin:0px 11px 11px 0px;
    border:1px solid #ccc;
    padding:1px 1px 7px 1px;

}
.catalog_sell{
    margin-bottom:10px;
	
	overflow:hidden;
	border:0px solid #000;	
}
.wrap_catalog_sell:hover{
     -webkit-box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
     -moz-box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
     box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	 
}
.wrap_catalog_sell:hover td .buy{
    display:block;
}
.wrap_catalog_sell:hover td .price{
    display:block;
}
.wrap_catalog_sell:hover a{
    text-decoration:none;
	
}

.catalog{
	margin-left:13px
}

.catalog > *{
	margin-top:20px
}
.catalog a{
vertical-align:middle;
line-height:35px;
	padding-left:50px;
}
.catalog a span{
vertical-align:middle;
	color:#ca3b41
}
.catalog .view{
	display:block;
	vertical-align:middle;
	background: url("/design/img/catalog_view.png") no-repeat scroll -6px -10px transparent;
	height:32px;
	
}.catalog .view:hover,.catalog .view:active{
	display:block;
	background: url("/design/img/catalog_view-active.png") no-repeat scroll -6px -10px transparent;
	height:32px;
	
}
.catalog .download{
vertical-align:middle;
	display:block;
	background: url("/design/img/catalog_download.png") no-repeat scroll -6px -10px transparent;
	height:32px;
	
}
.catalog .download:hover, .catalog .download:active{
	display:block;
	background: url("/design/img/catalog_download-active.png") no-repeat scroll -6px -10px transparent;
	height:32px;
	
}


.view_grid{
    width:240px;   
}
.view_list{
    width:99%;
    text-align:left;
    padding-left:10px;
}
.wrap_item_prew{
	margin-bottom:12px;
	height:225px;
	overflow:hidden;
}
/* ---------------------- /CATALOG -------------------------*/ 















.wrap_art {
	line-height:18px;
	text-align:justify;
	padding:20px;
}
.wrap_item_look{
	float:left;
	width:356px;
	margin-right:12px;
}
.img_item_look{
	width:450px;
}
.wrap_img_item_look_prew{
	margin:7px 0px;
	width:450px;
	text-align:center;
}
.img_item_look_prew{
	width:100px;
	height:65px;
	margin-right:7px;
}


.author{
	text-align:right;
	padding-right:10px;
}



/********************************************************************************************************************************************************/





.item_caption{

margin:1px 0px 7px 0px; padding:5px; text-align:center;
/*background-color:#627c5f;*/
border:0px solid #684302;
}
.item_desc_full{
font: 12px Arial; padding:10px;
color:#000;
text-align:justify;  
}






hr{
border: 0;
border-top: 1px solid #F1F1F1;	
border-bottom: 1px solid #F7F7F7;
margin: auto;
}




#masthead {
height:100px;
margin: 20px 0px 15px 0px;
}

#container {
	position: relative;
	width: 1070px;
	border:0px dotted orangered;
/*	display: table;
	background-color:#fff;
	background-image:url('/design/img/fon.png');background-repeat: no-repeat;*/
}

#left_col {
	width: 240px;
	float:left;
}

#page_content {
	width: 100%;
/*	margin-left: 235px;  */
	min-height: 520px; 
	text-align:center;
	vertical-align:top;

}

#_footer {
margin: 15px 0px 20px 0px;
padding: 7px 0px;
text-align:left;
font: normal 12px Arial, Tahoma, Verdana;
color:#000;
line-height:17px;
}
#footer .linkarea a{
line-height:25px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, textarea, img{
    border: 0;
}
input[type="text"]{
    background: url("/design/img/input-bg.png") no-repeat 0 0 transparent;
}

input[type="text"][name="skoka"] {
margin-top:3px;
height:15px;
padding: 10px;
width: 33px;
}
input[type="submit"][name="incart"] {

text-align:left;
padding: 4px 7px 4px 15px;
width: 137px;
color: #ffffff;
background-color: #d91219;
cursor:pointer;
}
ol.list, ul.list {
	list-style: none;
}

    .user-menu li{
        margin:10px 0 0 35px; 
    }
    .user-menu a{
        display: block;
        padding-left: 38px;
        height:19px;
    }
    .user-menu a.cart{
/*        background: url("/design/img/user-menu-cart.png") no-repeat 0 -4px transparent;  */
    }.user-menu a.cart:hover,.user-menu a.cart:active{
/*        background: url("/design/img/user-menu-cart-active.png") no-repeat 0 -4px transparent;  */
    }
    .user-menu a.cart strong{
         color:#627e5f;
    }    
     .user-menu a.cart:hover strong{
         color:inherit;
    }       
    .user-menu a.pay{
/*        background: url("/design/img/user-menu-pay.png") no-repeat -5px -4px transparent;  */
    }.user-menu a.pay:hover,.user-menu a.pay:active{
/*        background: url("/design/img/user-menu-pay-active.png") no-repeat -5px -4px transparent;  */
    }
    .user-menu a.delivery{
/*        background: url("/design/img/user-menu-delivery.png") no-repeat -1px -4px transparent;  */
    }.user-menu a.delivery:hover, .user-menu a.delivery:active{
/*        background: url("/design/img/user-menu-delivery-active.png") no-repeat -1px -4px transparent;  */
    }

#branch_<?=$gallery_tag_list1[$valb]['seolink']?> span{
background: url('/design/branch/<?=$gallery_tag_list1[$valb]['seolink']?>.png') no-repeat -6px 0 transparent;
color:#7B7B7B;
text-decoration:underline;
}
#branch_<?=$gallery_tag_list1[$valb]['seolink']?>:hover  span{
background: url('/design/branch/<?=$gallery_tag_list1[$valb]['seolink']?>_active.png') no-repeat -6px 0 transparent;
color:red;
text-decoration:none;

}

.param img {
border:2px solid #fff;
padding:0px;
outline: 0;

}
.param input:checked + img {

padding:-3px;
border:2px solid #d91219;
  outline: 0;

}

 
















span.bold, span.bold * {
    font-weight: bold;
}
span.red {
    color:#627c5f;
}
.buy{display:none;}



.price span {
background-color: #f3f3f3;
border-left: 2px solid #50552f;
padding: 5px;
font-size:200%;
}
.price span font {
font-size: 50%;
vertical-align: super;
}
.bestprice{
background: url("/design/img/mark-best-price.png") no-repeat 3px 1px #fff;
color: #2bc21f;
font: bold 14px Arial;
text-decoration: none;
padding: 3px 7px 3px 27px;
line-height: 25px;
}
.sale{
background: url("/design/img/mark-sales.png") no-repeat 3px 1px #fff;
color: #718500;
font: bold 14px Arial;
text-decoration: none;
padding: 3px 7px 3px 27px;
line-height: 25px;}
.cartprice font{font-size:85%;}
.Gallery_menu div > a, .Gallery_menu div > a span {
color: #009cd8;
text-decoration: auto;
}
.Gallery_menu div > a:hover, .Gallery_menu div > a:hover span {
color: #ff0000;
text-decoration: none;
}
.Gallery_menu > li > a {
background: url("/design/img/menu-arrow.png") no-repeat scroll 218px 12px transparent;
height: 40px;
border-bottom: 2px dashed #bcbbbc;
display:block;
text-align:left;
vertical-align: middle;
}
.Gallery_menu > li > a:hover, .Gallery_menu > li > a.active {
background: url("/design/img/menu-arrow-active.png") no-repeat scroll 218px 12px transparent;
border-bottom: 2px solid #bcbbbc;
color:#ff0000;
}
.Gallery_menu > li > a > * {
text-decoration: none;
/*color: #7b7b7b;*/
}
.Gallery_menu .inl-block {
display: inline-block;
vertical-align: middle;
width: 85%;
}
.Gallery_menu .inl {
display: inline-block;
width: 11px;
height: 100%;
vertical-align: middle;
}
.Gallery_menu li {
position: relative;
list-style: none;
}
.shadow{
box-shadow: inset 0px 0px 1px 0px #e7e7e7,6px 5px 7px -2px #DDDDDD;
-webkit-box-shadow: inset 0px 0px 1px 0px #e7e7e7,6px 5px 7px -2px #DDDDDD;
-moz-box-shadow: inset 0px 0px 1px 0px #e7e7e7,6px 5px 7px -2px #DDDDDD;
-o-box-shadow: inset 0px 0px 1px 0px #e7e7e7,6px 5px 7px -2px #DDDDDD;
}
.desc li{margin-left:20px;margin-bottom:7px;}

.art_menu div > a, .art_menu div > a span {
color: #009cd8;
text-decoration: auto;
}
.art_menu div > a:hover, .art_menu div > a:hover span {
color: #ff0000;
text-decoration: none;
}
.art_menu > li > a {
background: url("/design/img/menu-arrow.png") no-repeat scroll 218px 12px transparent;
height: 40px;
border-bottom: 2px dashed #bcbbbc;
display:block;
text-align:left;
vertical-align: middle;
}
.art_menu > li > a:hover, .art_menu > li > a.active {
background: url("/design/img/menu-arrow-active.png") no-repeat scroll 218px 12px transparent;
border-bottom: 2px solid #bcbbbc;
color:#ff0000;
}
.art_menu > li > a > * {
text-decoration: none;
/*color: #7b7b7b;*/
}
.art_menu .inl-block {
display: inline-block;
vertical-align: middle;
width: 90%;
}
.art_menu .inl {
display: inline-block;
width: 11px;
height: 100%;
vertical-align: middle;
}
.art_menu li {
position: relative;
list-style: none;
}

  .bumer { 
    position:relative; 
    margin:0 auto; 
    height: 40px;
    width:240px;
    display: block;
}


  .bumer img { 
    left: 0; 
    position:absolute; 
    top: 0; 
}

  .bumer img.raz {opacity:0;filter:alpha(opacity=0);}
  .bumer:hover img.raz {opacity:1;filter:alpha(opacity=100);}
  .bumer:hover img.dva, .bumer img.dva:hover {opacity:0;filter:alpha(opacity=0);}

.bumer img {
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.bumer img.raz {
  -moz-transform:scale(1,0);
  -webkit-transform:scale(1,0);
  -o-transform:scale(1,0);
  -ms-transform:scale(1,0);
}
 .bumer:hover img.raz {
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}
 .bumer:hover img.dva {
  -moz-transform:rotate(360deg) scale(0);
  -webkit-transform:rotate(360deg) scale(0);
  -o-transform:rotate(360deg) scale(0);
  -ms-transform:rotate(360deg) scale(0);
}






