/* ************ header Vertical***************** */
#wrap_bar_top{
    width:100%;
    white-space: nowrap;
    height:150px; 
    position:fixed;
    z-index:999;
    
}

.inline{
	display: inline-block;
}
.top_bar_menu{
    width:150px; height:150px;
    cursor: pointer;
}
.top_bar_menu a{
    display: block;
    height: 100%;
}

.top_bar_logo{
    background: url('/design/img/mobi/logo_top_h150.png') no-repeat center center;
    width:100%; min-width:250px;
    height: 150px; 
    cursor: pointer;	
}
.top_bar_logo a{
    display: block;
    width:100%;height: 100%;
}
.top_bar_logo_hidden{
	display:none;
	min-width:200px;
	height:150px;
}

.top_bar_search{
    cursor: pointer;	
}
.top_bar_search a{
    display: block;
    height: 100%;	
}
.top_bar_search_hidden{
	display:none;
}
.top_bar_search_hidden a{
    display: block;
    height: 100%;	
}	

.top_bar_cart{
<!--
    background: url('/design/img/mobi/ico_cart.png') no-repeat center center;
-->
    width:150px; height:150px;	
}
.top_bar_cart a{
    display: block;
    height: 100%;	
}

.top_bar_logo_hidden input{
  height: 50px;
  border: 2px solid #FFC90E;
  margin-bottom: 2px;
  
  background: #ffffff !important;
  font-size: 36px;
}
.img_ico{
	width:150px;
	height:150px;
	padding:0px;margin:0;
}
/* ************ /header ***************** */
/* ************** CART ********** */
.cart_count{
    width:20%; 
    position:absolute; 
    bottom:65px; left: 57%;
    transform: translateX(-55%);
    background-color:#f86a0b;
    padding:0.5em; 
/*    opacity:0.9;   */
    font-size:80%;
    font-weight:900;
    text-align:center;
    color:#fff; 
}
/* ************** CART ********** */
