*{
    padding:0px;margin:0px ;
    text-decoration:none;
}
html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font: 30px  Open sans,Verdana, Arial, sans-serif;
}

body{
    text-align: center;
    vertical-align: top;
    margin: 0 auto;
}



p{
    border: 0px;
    margin:0px;
/*    font-size:10px !important;  */
}
ol, ul {
	list-style: none;
}

h1,h2,h3,h4,h5,h6{
    color:#502d16;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 175%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 125%;
}
h5 {
    font-size: 100%;
}
h6 {
    font-size: 75%;
}

.caption1,.caption2,.caption3{
    color:#50552f;
/*    font-weight:bold;  */
}
.caption1{
    font-size:200%;
}
.caption2{
    font-size:175%;
}
.caption3{
    font-size:150%;
}

.desc1,.desc2,.desc3{
    color:#000;
}
.desc1{
    font-size:150%;
}
.desc2{
    font-size:125%;
}
.desc3{
    font-size:100%;
}

.desc_special{
    padding:25px !important;
    line-height:120% !important;
	font-family:Open sans,Verdana, Arial, sans-serif !important;
}
.desc_special a{
    padding:25px !important;
    line-height:120% !important;
    color:#502d16;
	font-family:Open sans,Verdana, Arial, sans-serif !important;
}
.desc_special p, .desc_special span, .desc_special div, .desc_special span {
    font-size:120% !important;
    text-align:justify !important;
    line-height:120% !important;
	font-family:Open sans,Verdana, Arial, sans-serif !important;
}
.desc_special img{
    padding:25px !important;
    width:95% !important;
    height:100% !important;
}

.attention1,.attention2,.attention3{
    color:#50552f;
	border:1px solid #d91219;
	padding:20px;
}
.attention1{
    font-size:175%;
}
.attention2{
    font-size:150%;
}
.attention3{
    font-size:125%;
}

.polosa{
	color:#92a3c3;
	text-align:left;
	text-decoration:none;
	border-bottom:1px solid #92a3c3;
	font-size:120%;
	padding-left:25px;
}
.polosa a{
    color:#502d16;
    font-weight:900;
    text-decoration:none;
}
.polosa a:hover{
    color:#92a3c3;
    font-weight:900;
    text-decoration:none;
}





.both{
    clear:both;
}
.left{
    float:left;
}
.right{
    float:right;
}
.br_1{
  height:1px;
}
.br_5{
  height:5px;
}
.br_10{
  height:10px;
}
.br_20{
  height:20px;
}


/* *************** COLOR ******************* */
.font_green{
    color:#50552f;
}
.font_brown{
    color:#502d16;
}
.font_white{
    color:#fff;
}
.font_light_grey{
    color:#eee;
}
.font_yellow{
    color:#e9ddaf;
}
.font_red{
    color:#d91219;
}
.bg_green{
    background-color:#50552f;
}
.bg_brown{
    background-color:#502d16;
}
.bg_white{
    background-color:#fff;
}
.bg_light_grey{
    background-color:#eee;
}
.bg_yellow{
    color:#e9ddaf;
}
/* *************** /COLOR ******************* */
/* *************** WIDTH ******************* */
.width_pct_40{
    width:40%;
}
.width_pct_60{
    width:60%;

}
.width_pct_95{
    width:95%;
}
.width_pct_100{
    width:100%;
}

.height_pct_40{
    height:40%;
}
.height_pct_60{
    height:60%;
}
.height_pct_95{
    height:95%;
}
.height_pct_100{
    height:100%;
}
/* *************** /WIDTH ******************* */


/* ***************** SLOGAN ********************* */
#wrap_slogan{
    margin:0 auto; 
    width:100%;
    padding:5px 5px 5px 0px;
}
.slogan{
    color:#000;
    font-size:150%; 
    text-align:center; 
    background-color:#fff;
    padding:15px;
    opacity: 0.7;
}
/* ***************** /SLOGAN ********************* */

/* ***************** IMG ********************* */
img {
    border: 0px;
    margin:10px;
}
.img_description {
    color:#502d16;font-weight:normal;
    text-decoration:none;
    font-size:1.2em;	
}
.img_style{
    width:40%;
}

/* ***************** /IMG ********************* */
.wrap_hor_scroll_img {
    width: 100%;
/*    overflow: hidden;  */
    overflow-x: scroll;
    white-space:nowrap;
}
.wrap_item_look {
    position: relative;
    width:95%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
	 white-space:normal;
}
.main_gallery_description{
    width:80%; 
    position: absolute; 
    bottom: 5%; 
    left:5%;
    background-color:#50552f;
    padding:25px; 
    opacity:0.8;
	text-align:center;
}
#page_content{
    padding-top:175px;
}


/* ---------------------- CATALOG -------------------------*/    
.wrap_catalog{
    padding:0px; margin:10px auto;
    width:100%; min-height:100px;
    text-align: center;
    display: table;
}
.wrap_catalog_sell{
    float:left;
    background-color:#fff;
    margin:0px 11px 11px 0px;
    border:1px solid #ccc;
    padding:4px 0px 7px 0px;
}
.view_grid{
    width:245px;   
}
.view_list{
    width:99%;
    text-align:left;
    padding-left:00px;
}
.wrap_catalog_sell:hover{
     -webkit-box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
     -moz-box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
     box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5), 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}
.wrap_catalog_sell:hover td .buy{
    display:block;
}
.wrap_catalog_sell:hover td .price{
    display:block;
}
.wrap_catalog_sell:hover a{
    text-decoration:none;
}
.catalog{
	margin-left:13px
}

.catalog > *{
	margin-top:20px
}
.catalog a{
    vertical-align:middle;
    line-height:35px;
	padding-left:50px;
}
.catalog a span{
vertical-align:middle;
	color:#ca3b41
}
.catalog .view{
	display:block;
	vertical-align:middle;
	background: url("/design/img/catalog_view.png") no-repeat scroll -6px -10px transparent;
	height:32px;
	
}.catalog .view:hover,.catalog .view:active{
	display:block;
	background: url("/design/img/catalog_view-active.png") no-repeat scroll -6px -10px transparent;
	height:32px;
	
}
.catalog .download{
vertical-align:middle;
	display:block;
	background: url("/design/img/catalog_download.png") no-repeat scroll -6px -10px transparent;
	height:32px;
	
}
.catalog .download:hover, .catalog .download:active{
	display:block;
	background: url("/design/img/catalog_download-active.png") no-repeat scroll -6px -10px transparent;
	height:32px;
	
}



/* ---------------------- /CATALOG -------------------------*/ 
/* ---------------------- Price Cart ----------------------------*/
.price span {
background-color: #f3f3f3;
border-left: 2px solid #50552f;
padding: 5px;
font: bold 125% Verdana;
}
.price font {
font-size: 75%;
vertical-align: super;
}
.wrap_sale_bestprice{
    margin-bottom:-50px;
    padding-left:10px;
    position:relative;
    z-index:2;
    text-align:left;
}
.sale, .bestprice{
    font: bold 90% Verdana;
    padding: 3px 7px 3px 27px;
    line-height: 50px;
}
.bestprice{
    background: url("/design/img/mark-best-price.png") no-repeat 3px 1px #fff;
    color: #2bc21f;
}
.sale{
    background: url("/design/img/mark-sales.png") no-repeat 3px 1px #fff;
    color: #718500;
}


.cartprice font{font-size:85%;}
.Gallery_menu div > a, .Gallery_menu div > a span {
color: #009cd8;
}

.buy{}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, textarea, img{
    border: 0;
}

input[type="text"]{
    height:150%;
    width:80%;
    border:1px solid #000;
    padding-left:1em;
    font-size:2em;
}
input[type="text"][name="search_input"]{
    height: 50px;
    border: 2px solid #FFC90E;
    margin-bottom: 2px;
    background: #ffffff !important;
    font-size: 36px;
}

input[type="text"][name="skoka"] {
    margin-top:3px;
    height:50px;
    padding: 10px;
    width: 150px;
    text-align:center;
    
}
input[type="submit"][name="incart"] {
    text-align:left;
    padding: 4px 7px 4px 15px;
    width: 200px;
    height:80px;
    color: #ffffff;
    font-size:36px;
    background-color: #50552f;
    cursor:pointer;
}
input[type="submit"][name="z_button"] {
    text-align:center;
    padding: 4px 7px 4px 15px;
    width: 75%;
    height:3em;
    color: #ffffff;
    font-size:36px;
    background-color: #50552f;
    cursor:pointer;
}
/* ---------------------- /Price Cart ----------------------------*/


/*  Закругления углов  */
/*----------------------- 5px --------------------------*/
.r5{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.r5b{
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
.r5t{
-webkit-border-top-right-radius: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-topleft: 5px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
.r5tl{
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topleft: 5px;
border-top-left-radius: 5px;
}
.r5tr{
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
border-top-right-radius: 5px;
}
/*----------------------- 7px --------------------------*/
.r7{
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
}

.r7b{
-webkit-border-bottom-right-radius: 7px;
-webkit-border-bottom-left-radius: 7px;
-moz-border-radius-bottomright: 7px;
-moz-border-radius-bottomleft: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;
}

/*----------------------- 10px --------------------------*/
.r10{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.r10b{
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
/*----------------------- 20px --------------------------*/
.r20{
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
.r20b{
-webkit-border-bottom-right-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 20px;
-moz-border-radius-bottomleft: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}

/*----------------------- 30px --------------------------*/
.r30{
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}
.r30b{
-webkit-border-bottom-right-radius: 30px;
-webkit-border-bottom-left-radius: 30px;
-moz-border-radius-bottomright: 30px;
-moz-border-radius-bottomleft: 30px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
}
/*----------------------- 40px --------------------------*/
